* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mooli', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a8c0ff;
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
}

.react-chatbot-kit-chat-container {
  width: 400px;
}

.react-chatbot-kit-chat-bot-message {
  margin: 0;
  background-color: #f1f0e8;
  color: black;
}

.react-chatbot-kit-chat-bot-avatar-container {
  width: 50px;
  height: 50px;
  background-image: url('./assests/telemarketer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.react-chatbot-kit-chat-message-container {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 500px;
}

.react-chatbot-kit-user-avatar-container {
  width: 50px;
  height: 50px;
  background-image: url('./assests/user.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #aee2ff;
}

.react-chatbot-kit-user-chat-message {
  background-color: #aee2ff;
}

.react-chatbot-kit-user-chat-message-arrow,
.react-chatbot-kit-chat-header,
.react-chatbot-kit-user-avatar-icon,
.react-chatbot-kit-chat-bot-avatar-letter,
.react-chatbot-kit-chat-bot-message-arrow {
  display: none;
}

.start-btn {
  padding: 5px;
  background-color: #aee2ff;
  border-radius: 8px;
}

.start-btn:hover {
  cursor: pointer;
  background-color: #19a7ce;
  color: whitesmoke;
}

.date-picker {
  display: flex;
  width: 360px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.date-picker button {
  border: 0;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: 900;
  color: #aee2ff;
  font-size: 17px;
}

.box {
  height: 60px;
  border: 1px solid #d8d8d8;
  box-shadow: 2px 2px #d8d8d8;
  padding: 10px 18px;
  border-radius: 10%;
}

.box-day {
  font-size: small;
}

.box:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.disabled {
  pointer-events: none;
  background-color: #f1f0e8;
  color: black !important;
}

.enabled {
  pointer-events: all;
  background-color: #cee6f3;
}

.enabled:hover {
  cursor: pointer;
}

.date {
  color: #19a7ce;
  font-weight: 700;
}

.day {
  text-transform: uppercase;
}

.selected {
  background-color: #19a7ce;
}

.selected .date,
.selected .time {
  color: whitesmoke;
}

.day-picker {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-picker .box {
  height: 30px;
  padding: 5px;
}

.submit {
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #aee2ff;
}

.submit:hover {
  cursor: pointer;
  background-color: #19a7ce;
  color: whitesmoke;
}

.react-chatbot-kit-chat-input-container {
  display: none !important;
}

.react-chatbot-kit-chat-input {
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 50%;
}

.react-chatbot-kit-chat-btn-send {
  border: 1px solid #19a7ce;
  border-top-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send:hover {
  cursor: pointer;
}

.react-chatbot-kit-chat-input-form {
  margin-left: 50px;
  margin-top: 30px;
}

.age select {
  width: 50px;
}

.para {
  color: whitesmoke;
  font-size: 20px;
  width: 390px;
}

.counter {
  width: 280px;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
}
